@{
    Layout = null;
}
<div class="module-container">
    <h3 class="header">基础信息</h3>
    <ul class="module-menu">
        <li>
            <a href="~/Page/HtmlPage1.html">
                <img class="icon" src="~/Images/Icon/20071128002209797.png" />
                <p class="title">计量单位</p>
            </a>
        </li>
        <li>
            <a href="javascript:;">
                <img class="icon" src="~/Images/Icon/category.png" />
                <p class="title">类别管理</p>
            </a>
        </li>
        <li>
            <a href="javascript:;">
                <img class="icon" src="~/Images/Icon/product_169.png" />
                <p class="title">商品信息</p>
            </a>
        </li>
        <li>
            <a href="javascript:;">
                <img class="icon" src="~/Images/Icon/001.png" />
                <p class="title">仓库管理</p>
            </a>
        </li>
    </ul>
</div>
<div class="module-container">
    <h3 class="header">采购管理</h3>
    <ul class="module-menu">
        <li>
            <a href="javascript:;">
                <img class="icon" src="~/Images/Icon/20090119095400703.png" />
                <p class="title">采购申请</p>
            </a>
        </li>
        <li>
            <a href="javascript:;">
                <img class="icon" src="~/Images/Icon/20080922084718470.png" />
                <p class="title">采购订单</p>
            </a>
        </li>
        <li>
            <a href="javascript:;">
                <img class="icon" src="~/Images/Icon/20080902000304211.png" />
                <p class="title">采购订单入库</p>
            </a>
        </li>
        <li>
            <a href="javascript:;">
                <img class="icon" src="~/Images/Icon/200711261232163061.png" />
                <p class="title">采购退货</p>
            </a>
        </li>
        <li>
            <a href="javascript:;">
                <img class="icon" src="~/Images/Icon/20071126105404431.png" />
                <p class="title">采购对账单</p>
            </a>
        </li>
    </ul>
</div>
<div class="module-container">
    <h3 class="header">库存管理</h3>
    <ul class="module-menu">
        <li>
            <a href="javascript:;">
                <img class="icon" src="~/Images/Icon/20080527174442773.png" />
                <p class="title">其他入库</p>
            </a>
        </li>
        <li>
            <a href="javascript:;">
                <img class="icon" src="~/Images/Icon/20080527174442832.png" />
                <p class="title">其他出库</p>
            </a>
        </li>
        <li>
            <a href="javascript:;">
                <img class="icon" src="~/Images/Icon/20071126105408808.png" />
                <p class="title">库存调拨</p>
            </a>
        </li>
        <li>
            <a href="javascript:;">
                <img class="icon" src="~/Images/Icon/20090318230119904.png" />
                <p class="title">库存盘点</p>
            </a>
        </li>
    </ul>
</div>
<div class="module-container">
    <h3 class="header">销售管理</h3>
    <ul class="module-menu">
        <li>
            <a href="javascript:;">
                <img class="icon" src="~/Images/Icon/pie-chart_graph.png" />
                <p class="title">销售订单</p>
            </a>
        </li>
        <li>
            <a href="javascript:;">
                <img class="icon" src="~/Images/Icon/20080902000306297.png" />
                <p class="title">销售订单出库</p>
            </a>
        </li>
        <li>
            <a href="javascript:;">
                <img class="icon" src="~/Images/Icon/20071126123216306.png" />
                <p class="title">销售退回</p>
            </a>
        </li>
        <li>
            <a href="javascript:;">
                <img class="icon" src="~/Images/Icon/20071126105404431.png" />
                <p class="title">销售对账单</p>
            </a>
        </li>
    </ul>
</div>