@{
    Layout = null;
}
@{
    if (ViewBag.Menu != null)
    {

        foreach (var h in ViewBag.Headers)
        {
            <div class="module-container">
                <h3 class="header">@h.Name</h3>
                <ul class="module-menu">
                    @foreach (var m in ViewBag.Menu)
                    {
                        if (m.ParentId == h.Id)
                        {
                            <li>
                                <a href="@m.Url">
                                    <img class="icon" src="@m.Icon" />
                                    <p class="title">@m.Name</p>
                                </a>
                            </li>

                        }
                    }
                </ul>
            </div>
        }
    }
}
